language: node_js
node_js:
  - '8'
  - '10'
  - '12'
branches:
  only:
  - master
cache:
  yarn: true
  directories:
    - node_modules
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"
before_script:
  - yarn lerna bootstrap
  - yarn lerna run bootstrap
script:
  - yarn lint
  - yarn test
