name: Publish

on:
  push:
    branches:
    - master

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: textbook/git-checkout-submodule-action@master
    - uses: actions/setup-node@v1
      with:
        node-version: 12.0
    - name: yarn install
      run: yarn
    - name: bootstrap lerna
      run: |
        yarn lerna bootstrap
        yarn lerna run bootstrap
    - name: lint
      run: yarn lint
    - name: test
      run: yarn test
    - name: release
      run: |
        git checkout master
        git config --global user.email "no-reply@spotify.com"
        git config --global user.name "GitHub Action"
        git remote set-url origin "https://${GH_USERNAME}:${GH_TOKEN}@github.com/spotify/web-scripts.git"
        yarn release
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        GH_USERNAME: ${{ secrets.GH_USERNAME }}
