name: Publish Develop Branch

on:
  push:
    branches:
      - develop

jobs:
  publish:
    name: Publish Develop Branch
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: '0'
      # pulls all tags (needed for lerna / semantic release to correctly version)
      - name: fetch tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - uses: actions/setup-node@v2
        with:
          node-version: 16.9
      - name: yarn install
        run: yarn
      - name: yarn build
        run: yarn build
      - name: lint
        run: yarn lint
      - name: test
        run: yarn test
      - name: copy token
        run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} >> ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: publish
        run: npx lerna publish --yes --canary --preid dev --dist-tag dev --conventional-commits --registry=https://registry.npmjs.org
